* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(82, 90, 56, 0.467);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.course-adder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  background-color: #ffffff;
  height: 20vh;
  width: 80vw;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.course-adder button {
  height: 50%;
  width: 60%;
  font-size: 2rem;
  font-weight: 200;
  background-color: rgba(8, 0, 255, 0.553);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}


.course-popup {
  background-color: #ffffff;
  height: 50vh;
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  border-radius: 50px;
  display: none;
}
.course-popup form {
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
  align-items: flex-start;
  justify-content: center;
}
.input {
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  border: 2px solid rgba(8, 0, 255, 0.553);
  border-radius: 10px;
  padding: 10px;
}
.input::placeholder {
  font-size: 0.9rem;
  font-weight: 400;
}

.course-popup button {
  height: 40px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 200;
  background-color: rgba(8, 0, 255, 0.553);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.course-popup h2 {
  margin: 10px 0 5px 0;
  font-size: 2rem;
  font-weight: 400;
}
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.overlay span {
  color: #ffffff;
  font-size: 2rem;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.courses {
  max-width: 80vw;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.courses > div {
  width: 10vw;
  height: 20vh;
  background-color: darkgrey;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in, transform 0.25s ease-in;
}

.courses > div:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.758);
  transform: scale(1.1);
}

.courses > div a {
  text-decoration: none;
  color: #000;
}

.courses h4{
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 300;
}
.courses div button {
  width: 100%;
  height: 25%;
  background-color: rgba(8, 0, 255, 0.553);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* responsive design */

@media screen and (max-width:600px){
  .courses{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 80vw;
    align-content: center;
  }

  .courses > div{
    width: 90%;
  }

  .course-adder button {
    height: 50%;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0px;
  }

  .course-adder{
    border-radius: 0px;
  }

  .course-popup {
    height: auto;
    width: 80vw;
    border-radius: 0px;
  }

  .course-popup h2 {
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }
}